{% load filtres %}
<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table>
            <th>Год</th><th>Янв</th><th>Фев</th><th>Мар</th><th>Апр</th><th>Май</th><th>Июн</th><th>Июл</th><th>Авг</th>
            <th>Сен</th><th>Окт</th><th>Ноя</th><th>Дек</th><th style="background-color:Gray">Суммарная</th>
            {% for dict_table in table %}
              <tr>
                {% for keys, values in dict_table.items %}
                  {% if keys == 'Год' %}
                    <td style="background-color:white">{{ values }}</td>
                  {% elif keys == 'Суммарная' %}
                    <td style="background-color:Gray">{{ values }}</td>
                  {% elif values|to_float < 0 %}
                    <td style="background-color:Green">{{ values }}</td>
                  {% elif values|to_float >= 1 and values|to_float < 2 %}
                    <td style="background-color:LightCoral">{{ values }}</td>
                  {% elif values|to_float >= 2 and values|to_float < 5 %}
                    <td style="background-color:IndianRed">{{ values }}</td>
                  {% elif values|to_float > 5 %}
                    <td style="background-color:Red">{{ values }}</td>
                  {% elif values == '' %}
                    <td>{{ '-' }}</td>
                  {% else %}
                    <td style="background-color:White">{{ values }}</td>
                    {% endif %}
                  {% endfor %}
              </tr>
              {% endfor %}
          </table>
        </div>
      </div>
    {% endblock %}
  </body>
</html>